/* ___________GENERAL___________ */
.center {
  margin-left: auto;
  margin-right: auto;
}

.col-md-10 {
  width: 80%;
}

.btn:hover {
  text-decoration: none;
}

/* ___________HOME PAGE ___________ */
#indexHead {
  background-color: #e3e3e3;
  margin-top: 100px;
  padding-top: 20px;
  padding-left: 50px;
  width: 100%;
}

#mainLogo {
  font-size: 120px;
  font-family: "Abril Fatface", cursive;
  color: #6db58a;
  text-decoration: none;
  position: relative;
  top: 22px;
}

#right {
  text-align: right;
}

#spacer {
  height: 200px;
}

#homePage {
  box-shadow: 3px 3px 7px -2px rgba(0, 0, 0, 0.75);
  width: 90%;
  position: relative;
  right: 80px;
  bottom: 120px;
}

#down {
  position: relative;
  bottom: 200px;
}

#description {
  color: white;
  margin-top: 400px;
  margin-left: 50px;
  font-size: 18px;
  font-family: "Epilogue", sans-serif;
}

#dark {
  background-color: #36494e;
  height: 100%;
}
#generator {
  margin-top: 40px;
  font-weight: 700;
  background-color: #6db58a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
}

#allignRight {
  text-align: right;
}

#generator:hover {
  border: none;
  background-color: #bfbfbf;
  color: #36494e;
}

#school {
  width: 300px;
  position: relative;
  top: 25px;
  margin-right: 10px;
  color: white;
}

/* ___________HEADER___________ */

header {
  z-index: 2;
}
#brandName {
  font-size: 75px;
  font-family: "Abril Fatface", cursive;
  color: #6db58a;
  text-decoration: none;
}

.colorblock {
  color: #36494e;
}

/* ___________MAIN___________ */
main {
  background-color: #e3e3e3;
  position: relative;
  top: -40px;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 1;
  border-radius: 5px;
  font-family: "Oxygen", sans-serif;
}

.card {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.75);
}

.card-title {
  font-size: 32px;
}

h5 {
  display: inline;
  font-weight: 700;
}

.sideBtns {
  float: right;
}

.x {
  height: 12px;
}

.c {
  height: 13px;
}

.s {
  height: 16px;
}

.removeSection,
.collapse,
.settings,
.move {
  border: none;
  background-color: transparent;
}

.m {
  height: 30px;
}

.move {
  float: right;
  position: relative;
  right: 70px;
  top: 20px;
  cursor: ;
}

.collapse:not(.show) {
  display: inline;
}

.coll {
  text-align: right;
}

#collapseAll {
  background-color: #36494e;
  color: white;
}

#collapseAll:hover {
  background-color: #6db58a;
  color: black;
}

.lock {
  height: 25px;
  position: relative;
  bottom: 7px;
}

.lockSection {
  border: none;
  background-color: transparent;
}

.locked {
  background-color: #bfbfbf;
}

.green {
  background-color: #6db58a;
}

.plus {
  height: 10px;
}

.add {
  border: none;
  background-color: transparent;
}

input {
  border: none;
  border-bottom: 1px solid #d2d1d1;
  margin: 1px;
  background-color: transparent;
}

#gradingScale input {
  width: 100px;
}

textarea {
  border: none;
  border-bottom: 1px solid #d2d1d1;
  width: 100%;
}

.sortable-ghost {
  background-color: white;
}

.addedContact {
  display: inline;
}

.form-check-input:checked + .form-check-label {
  font-weight: bold;
}

#render {
  text-align: right;
}

#renderBtn {
  background-color: #79b993;
  color: #36494e;
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  font-size: 22px;
  padding: 8px 14px;
  text-decoration: none;
  font-weight: 700;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* ___________FOOTER___________ */
footer {
  text-align: center;
}
