/* ___________GENERAL___________ */
.center {
  margin-left: auto;
  margin-right: auto;
}

.col-md-10 {
  width: 80%;
}

/* ___________HEADER___________ */

header {
  z-index: 2;
}
#brandName {
  font-size: 75px;
  font-family: "Abril Fatface", cursive;
  color: #6db58a;
  text-decoration: none;
}

#colorblock {
  color: #36494e;
}

/* ___________MAIN___________ */
main {
  background-color: #e3e3e3;
  position: relative;
  top: -40px;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 1;
  border-radius: 5px;
}

.card {
  border: 1px solid #e3e3e3;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.75);
}

.card-title {
  font-size: 32px;
}

h5 {
  display: inline;
}

.sideBtns {
  float: right;
}

.x,
.c {
  height: 12px;
}

.removeSection,
.collapse {
  border: none;
  background-color: white;
  /* float: right; */
}

.collapse:not(.show) {
  display: inline;
}

.lock {
  height: 25px;
  position: relative;
  bottom: 5px;
}

.lockSection {
  border: none;
  background-color: white;
}

.plus {
  height: 10px;
}

.add {
  border: none;
  background-color: white;
}

input {
  border: none;
  border-bottom: 1px solid #d2d1d1;
  margin: 1px;
}

textarea {
  border: none;
  border-bottom: 1px solid #d2d1d1;
  width: 100%;
}

.addedContact {
  display: inline;
}

.form-check-input:checked + .form-check-label {
  font-weight: bold;
}

#render {
  text-align: right;
}

#renderBtn {
  background-color: #79b993;
  color: black;
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  font-size: 22px;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: 700;
}

/* ___________FOOTER___________ */
footer {
  text-align: center;
}
